@import "../css/bootstrap.css";
body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}
.header {
  padding: 10px;
  font-size: 2em;
  background: #cecece;
  border-bottom: 1px solid black;
}
.header h1 {
  margin: 0px;
}
.content {
  margin: 10px;
}
.smaller-text {
  font-size: 0.8em;
  color: #aaaaaa;
}
.indent {
  margin-left: 20px;
}
.left {
  width: 66%;
  float: left;
  margin-right: 0.5%;
}
.right {
  width: 33%;
  float: right;
  margin-left: 0.5%;
}
.well {
  background: #f3f3f3;
  padding-top: 10px;
}
.edit-box {
  cursor: pointer;
}
.conceptLinks {
  margin-top: 5px;
}
.conceptLinks .conceptLink,
.conceptLinks .btn {
  float: left;
  border: 1px solid #aaaaaa;
  height: 100px;
}
.conceptLinks .conceptLink {
  background: whitesmoke;
  padding: 10px 5px;
  width: 22.5%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  margin-left: -1px;
}
.conceptLinks .conceptLink h3 {
  font-size: 0.9em;
  padding-top: 0px;
  line-height: 20px;
  padding: 0px;
  margin: 0px;
}
.conceptLinks .btn {
  width: 4.5%;
  padding: 0px;
  text-align: center;
}
.conceptLinks .btn:first-of-type {
  border-radius: 10px 0px 0px 10px;
}
.conceptLinks .btn:last-of-type {
  border-radius: 0px 10px 10px 0px;
  margin-left: -1px;
}
.title {
  margin: 0px;
}
.concept .label {
  text-transform: capitalize;
}
.concept form {
  margin-bottom: 10px;
}
.concept form.padding {
  padding-left: 20px;
}
.concept form textarea {
  margin-bottom: 5px;
  width: 100%;
}
.floatRight {
  float: right;
}
.clear {
  clear: both;
}
