<div class="left">
	<div class="well concept">
		<h2>{{concept.name}}</h2>

		<p class="smaller-text indent">{{concept.overview}}</p>

		<div class="field" ng-repeat="(name, field) in concept.fields">
			<label for="{{name}}" class="label">{{name}}</label>

			<edit-field-text-area>
				<p class="indent">{{field}}</p>
			</edit-field-text-area>
		</div>
	</div>
</div>

<div class="right">
	<scrolling-window list="concept.parents" title="Parents"></scrolling-window>

	<scrolling-window list="concept.related" title="Related"></scrolling-window>

	<scrolling-window list="concept.children" title="Children"></scrolling-window>
</div>

<div class="clear"></div>